.list {
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-bottom: 0;
}
.item {
  padding-right: 20px;
  cursor: pointer;
}
.item a{
  color: #000000;
}
.item:hover {
  color: #0099ff;
}
.link {
  color: inherit;
  transition: all 0s;
}
