.lcHeader {
    /*background: linear-gradient(170deg, #e6f3ff 40%, #f2dffd 90%, #ebcbfd);*/
    border-bottom: 1px solid #d4d8ff;
    z-index: 1;
    padding: 0 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.lcCard {
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);*/
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.lcCard .ant-card-head {
    color: #0099ff;
    background-color: #f7f7ff;
    border-radius: 5px 5px 0 0;
}

.lcCard .ant-card-actions {
    border-radius: 0 0 5px 5px;
    background-color: #f7f7ff;
}

.lcBlockLc {
    /*background: linear-gradient(135deg, #e6f3ff 40%, #f2dffd 90%, #ebcbfd);*/
    /*border-color: #e0d5ff;*/
}

.lcBlockLc .ant-menu-sub.ant-menu-inline,
.lcBlockLc .ant-menu,
.lcBlockLc .ant-menu-sub.ant-menu-inline:active,
.lcBlockLc .ant-menu:active,
.lcBlockLc .ant-menu-sub.ant-menu-inline:focus,
.lcBlockLc .ant-menu:focus,
.lcBlockLc .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected .lcHeader .ant-menu-sub.ant-menu-inline,
.lcHeader .ant-menu,
.lcHeader .ant-menu-sub.ant-menu-inline:active,
.lcHeader .ant-menu:active,
.lcHeader .ant-menu-sub.ant-menu-inline:focus,
.lcHeader .ant-menu:focus,
.lcHeader .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: none;
    border: none;
}

.lcColorPrimary {
    color: #b743ff;
}

.lcColorRed {
    color: #ff0000;
}

/** Buttons */
.lcButtonLc {
    /*background: linear-gradient(135deg, #55b6ff, #b743ff);*/
    background-color: #1890ff;
    border: none;
    color: #fff;
    border-radius: 2px;
    /*box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);*/
}

.lcButtonLc:hover,
.lcButtonLc:active,
.lcButtonLc:focus {
    /*background: linear-gradient(135deg, #60baff, #c25eff);*/
    background-color: #44a5ff;
    border-color: #a27bff;
    color: #fff;
}


.lcButtonPrimary {
    background-color: #b743ff;
    color: #fff;
    border-color: #b743ff;
}

.lcButtonPrimary:hover,
.lcButtonPrimary:focus,
.lcButtonPrimary:active {
    background-color: #c753ff;
    color: #fff;
    border-color: #b743ff;
}

.lcButtonDefault {}

.lcButtonDefault:hover,
.lcButtonDefault:focus,
.lcButtonDefault:active {
    /*background-color: #af61de;*/
    color: #c753ff;
    text-shadow: 0 0 #c753ff;
    border-color: #c753ff;
}

.lcButtonSecond {
    background-color: #3cb6e4;
    color: #fff;
    border-color: #3cabe0;
}

.lcButtonSecond:hover,
.lcButtonSecond:focus,
.lcButtonSecond:active {
    background-color: #52bde5;
    color: #fff;
    border-color: #3cabe0;
}

/** Buttons */


.lcSuccess {
    background-color: #3fd69c;
    color: #fff;
    border-color: #2dc48a;
}

.lcSuccess:hover {
    background-color: #49dea5;
    color: #fff;
    border-color: #2dc48a;
}

.lcWarning {
    background-color: #fcc300;
    color: #fff;
    border-color: #e0ad00;
}

.lcWarning:hover {
    background-color: #ffcd19;
    color: #fff;
    border-color: #e0ad00;
}


/*Editor*/
.inputList {}

.tableList {
    border-spacing: 0;
    line-height: 1.5;
    width: 100%;
    font-weight: 600;
}

.tableList tr {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    height: min-content;
}

.tableList tr td {
    padding: 0;

}


.lcEditorInput {
    border-radius: 0;
    outline: 0;
    outline-offset: 0;
    padding: 1px 8px;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.lcEditorInput:hover {
    background-color: #fff9e2;
    border-bottom: 1px solid #ddd392;
    box-shadow: none;
}

.lcEditorInput:focus,
.lcEditorInput:active {
    background-color: #fff6c4;
    border-bottom: 1px solid #d2bd33;
    box-shadow: none;
}

.lcEditorInput:disabled {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

.cardEdit {
    margin-bottom: 16px;
    background-color: #f7f7f7;
}

.cardEditAcl {
    border: 3px dashed #ff5a00
}

div .preview p {
    margin: 0;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: currentColor;
    z-index: 2;
    font-size: 20px;
    height: 30px;
    opacity: .5;
}

.ant-carousel .slick-prev {
    left: 10px;
}

.ant-carousel .slick-next {
    right: 10px;
}

.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: currentColor;
    opacity: .8;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    color: currentColor;
    opacity: 1;
}

/* div.slick-slider .slick-dots li button {
    background: red;
} */

/*tbody.ant-table-tbody tr.ant-table-row td.ant-table-cell {*/
/*    padding: 0;*/
/*}*/

div.cascade-table table tr.ant-table-row {
    cursor: pointer;
}

/*.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {*/
/*    border: none !important;*/
/*}*/

/*.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-title-content a:active {*/
/*    color: #000 !important;*/
/*}*/

/*.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-title-content a:hover {*/
/*    color: #1890ff;*/
/*}*/

/*.ant-menu-horizontal > .ant-menu-item a {*/
/*    color: rgba(0, 0, 0, 0.85);*/
/*}*/

/*.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-title-content a {*/
/*    color: rgba(0, 0, 0, 0.85);*/

/*}*/


