.addictionStyleCard {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 16px;
}

.col_addiction {
    width: calc(100% - 35px);
    margin-bottom: 16px;
}

.col_addiction_text {
    border: 1px solid lightgray;
    padding: 4px;
    background-color: white;
}

.select_addictionAdd {
    border-top: none;
    min-width: 100%;
    margin-bottom: 16px;
}

.button_addictionAdd {
    margin-top: 16px;
}
